

body{

background-color: antiquewhite;

}



#form{


width: 600px;
height: 750px;
background-image: url(imagination.png);
border-radius: 30px;
opacity: 50%;
align-items: center;
justify-items: center;
margin-left: 30%;
align-content: center;


}



.input{

width: 280px;
height: 30px;
background-color: antiquewhite;
display: table-column;
border-radius: 10px;
margin-bottom: 10px;
opacity: 50%;

}


.label{

color: white;
font-size: small;
display: block;
gap: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


#btn2{

width: 60px;
height: 20px;
border-radius: 10px;
background-color: antiquewhite;
display: block;
color: black;
font-size: small;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: black solid 2px;
}




#div{

column-gap: 10px;


}



